@model EAD_Project.Models.Bus

@{
    ViewBag.Title = "AddBus";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <br>
        <br>
        <h1>
            Add New Bus
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li>Dashboard</li>
            <li>Manage Buses</li>
            <li class="active">Add Bus</li>
        </ol>
    </section>

    <section class="content">

        <form method="post" action="~/Admin/BusAdded">
            <br>
            <br>
            <br>
            <div class="row">
                <div class="form-group col-md-8">
                    <label class="col-md-3 control-lable" for="country">Bus Type</label>
                    <div class="col-md-9">
                        <select path="country" name="Bus_Type" id="country" class="form-control input-sm">
                            <option value="">Select BusType</option>
                            <option value="Luxury">Luxury</option>
                            <option value="Premium Plus">Premium Plus</option>
                            <option value="Coach">Coach</option>
                            <option value="Air Coach">Air Coach</option>
                        </select>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-8">
                    <label class="col-md-3 control-lable" for="dob">Bus.No</label>
                    <div class="col-md-9">
                        <input type="text" path="dob" id="dob" class="form-control input-sm" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-8">
                    <label class="col-md-3 control-lable" for="dob">Seats</label>
                    <div class="col-md-9">
                        <input type="text" name="Seat_Number" id="dob" class="form-control input-sm" />
                    </div>
                </div>
            </div>

            <div align="center" class="row">
                <div class="form-actions floatRight col-md-8">
                    <input type="reset" value="Reset" class="btn btn-primary btn-sm">
                    <input type="submit" value="Submit" class="btn btn-primary btn-sm">
                </div>
            </div>
        </form>
    </section>
</div>



      </aside><!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
     immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->


