<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="header-section" style="background-image: url(/images/bg.jpg)">

        
                        <div>
                            @RenderBody()
                        </div>
                    
    </div>
</body>
</html>
