@model EAD_Project.Models.User

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <br>
        <br>
        <h1>
            Change Password
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li> Profile Settings</li>
            <li class="active">Change Password</li>
        </ol>
    </section>

    <section class="content">

        <form method="post">
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <!--div class="panel-heading">
                          <div class="panel-btns">
                            <a href="#" class="panel-close">×</a>
                            <a href="#" class="minimize">−</a>
                          </div>
                        </div-->
                        <div style="display: block;" class="panel-body panel-body-nopadding">

                            <form action="~/User/UpdatePassword" method="post" class="form-horizontal form-bordered">



                                <div class="row form-group">
                                    <label class="col-sm-3 control-label">Current Password</label>
                                    <div class="col-sm-6"><input name="Current" class="form-control" type="text"></div>
                                </div>



                                <div class="row form-group">
                                    <label class="col-sm-3 control-label">New Password</label>
                                    <div class="col-sm-6"><input name="New" class="form-control" type="password"></div>
                                </div>



                                <div class="row form-group">
                                    <label class="col-sm-3 control-label">Retype Password</label>
                                    <div class="col-sm-6"><input name="Password" class="form-control" type="text"></div>
                                </div>




                        </div><!-- panel-body -->

                        <div style="display: block;" class="panel-footer">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <button class="btn btn-primary">Change</button>
                                </div>
                            </div>
        </form>
    </section>
</div>


