@{
    ViewBag.Title = "About";
}

<div class="about-main">
    <div class="container">
        <h3>ABOUT US</h3>
        <div class="main-about">

            <div class="main-text">

                <p class="para1">
                    Automotive is the first and the biggest foreign investment Company
                    with an advanced and organized transport system in Pakistan. It is the only transport company to have nationwide network
                    with various international trade links. Being a transport service provider the company owns a large fleet of buses,
                    Technically Advanced Workshops to maintain the fleet for the safety of the passengers, State of the Art Terminals,
                    Training Institutes for Drivers and Mechanical Staff.
                </p><br>
                <p class="para1">
                    Automotive has been rendering transport facilities for the last 18 years to the people of Pakistan and appreciated
                    by the masses simultaneously highly praised by the Governments of Pakistan as well as Korea for its consistent success.
                    Media of both the countries often express appreciation for the revolutionary accomplishment of the Company in transport
                    sector, through various channels.
                </p>
                <a class="offer-btn" href="#"><span></span>more info</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
</div>

<!-- ourteam -->
<!--/start-text-slider-->
<!--/start-text-slider-->
<div class="testimonials" id="testimonials" style="background-image: url(/images/slide.png)">
    <div class=" wmuslider example1">
        <div class="container-flueid">
            <article style="position: absolute; width:64%; opacity: 0;">

                <div class=" cont span_2_of_3 client-main">
                    <div class="slide-text">
                        <p>Best Facilities </p>
                        <span> </span>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </article>
            <article style="position: absolute; width:64%; opacity: 0;">
                <div class=" cont span_2_of_3  client-main">
                    <div class="slide-text">
                        <p>Nice And Comfortable Services </p>
                        <span> </span>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </article>
            <article style="position: absolute; width:64%; opacity: 0;">
                <div class="cont span_2_of_3  client-main">
                    <div class="slide-text">
                        <p>Nice Experience</p>
                        <span> </span>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </article>

            <script src="~/Scripts/jquery.wmuSlider.js"></script>
            <script>
                $('.example1').wmuSlider();
            </script>
        </div>
    </div>

</div>



